<h1 class="text-center my-4">Bienvenido</h1>

<main>

    {{#each urls }}
        <div class="card mb-3">
            <div class="card-body">
                <p>{{this.fullURL}}</p>
                <p>{{{this.shortenURL}}}</p>
                <button class="btn btn-primary">Copiar</button>
                <button class="btn btn-warning">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    {{/each}}

</main>