<h1 class="text-center my-4">Bienvenido</h1>

<main>

    {{> Form }}

    <section class="w-75 mx-auto mt-5">
        {{#each urls }}
            {{> Card item=this}}
        {{/each}}
    </section>

</main>